*{
    max-width: 100%;
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    @import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap);
}

/* nav start*/



.nav{
    display: flex;
    height: 100px;
    box-shadow: 0px 7px 32px -24px rgba(0,0,0,0.44);
-webkit-box-shadow: 0px 7px 32px -24px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 7px 32px -24px rgba(0,0,0,0.44);

    
}
.nav-logo{
    height: 40px; width: 80px;
    margin-left: 50px;
    margin-top: 30px;
}
.logo h2{
    position: relative; top: 35px; right: -10px;
    font-family: 'Work Sans', sans-serif;
    color: rgb(11, 11, 11);
    font-size: 30px;
    font-weight: 700;
}
h2 span{
    color: rgb(255, 66, 165);
}
.logo{
    display: flex;
    
    
}
.ul ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    position: absolute; right: 300px; top: 37px;
}
.ul a{
    text-decoration: none;
    color: #3C354F;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    
}
.ul li{
    list-style-type: none;
    
}
.icon{
    display: flex;
    background-color:rgb(231, 230, 233);
    padding: 8px;
    border-radius: 5px;
    position: relative; right: -1040px; top: 25px;
}
.icon a{
    position: relative; top: 2px;
    
}
.tiktok{
    height: 25px; width: 25px;
    margin-left: 10px;
    
}
.youtube{
    height: 20px; width: 30px;
    margin-left: 10px;
    margin-top: 2px;

}
/* nav end*/

/* banner start */

.banner{
    background-image: url(Group\ 14.png); height: 10px; width: 20px;
    background-repeat: no-repeat;
    height: 610px; width: 100%;
    margin-bottom: 100px;
}
.banner-div{
    display: flex;
   
}
.bimg img{
    height: 600px;
    position: relative; top: 12px; right: -550px;
}
.btxt h2{
    color: #0B0223;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    position: relative; top: 150px;
    right: -250px;


}
.btxt h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 70px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative; top: 150px; right: -250px;
}
.p1, .p2, .p3{
    color: #534C64;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin-top: 25px;
    position: relative; top: 130px; right: -280px;
}
.bt1, .bt2{
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 25px;
    position: relative; top: 120px; right: -250px;

}
.bt1{
    padding-left: 30px; padding-right: 25px; padding-top: 15px; padding-bottom: 15px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    
}
.bt2{
    padding-left: 30px; padding-right: 25px; padding-top: 15px; padding-bottom: 15px;
    border-radius: 48px;
    background: rgb(255, 66, 165);
    border: none;
}
/* Banner end */

/* start Online Games section */
.sec1{
    height: 600px;
    border: solid 2px black;
    margin-bottom: 0;
}
.div-sec1{
    
}
.txt-sec1 h2{
    text-align: center;
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.txt-sec1 p{
    color: #534C64;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pic4{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 90px; padding-right: 90px; padding-top: 30px;
}
.s1img, .s2img, .s3img, .s4img{
    height: 600px; width: 300px;
    
}
.pic4 p{
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
/* Online Games section end */

/* star Play Instantly */

.sec2{
    border: solid 3px black;
    height: 700px; width: 100%;
    
    margin-top: 10px;
}

.img-childe{
    position: relative; right: -800px; top: -450px;

}
.img1-sec2 img{
    position: relative; right: -950px; top: -270px;
    height: 500px; width: 480px;
}
.txt-sec2 h2{
    text-align: end;
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    position: relative; top: 200px; left: -900px;

}
.txt-sec2 h1{
    margin-top: 0px;
    text-align: end;
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    position: relative; top: 200px; left: -900px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.txt-sec2 p{
    color: #534C64;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative; left: -910px; top: 200px;
    
}


/* end Play Instantly */
/* section 3 start */

.sec3{
    border: #534C64 solid 2px;
    margin-top: 25px; margin-bottom: 25px;
    height: auto;
}
.fst-line{
    display: flex;
    justify-content: center;
    padding: 0px 100px 0px 100px;
    height: 40px ;
}
.fst-line div{
    display: flex;
    padding: 0px 50px 0px 50px;
    
}
.fst-line p{
    color: #0B0223;
font-family: 'Work Sans', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding: 10px 0px 0px 15px;
}
.snd-line{
    margin: 40px 0px 0px 0px;
}

.snd-line{
    display: flex;
    justify-content: center;
    padding: 0px 100px 0px 100px;
    height: 40px ;
}
.snd-line div{
    display: flex;
    padding: 0px 50px 0px 50px;
    
}
.snd-line p{
    color: #0B0223;
font-family: 'Work Sans', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding: 10px 0px 0px 15px;
}
/* section 3 end */

/* footer start */
.footer{
    background-color: #0B0223;
    height: 500px; width: 100%;
}
.flogo{
    display: flex;
    justify-content: center;
    position: relative; top: 120px;

}
.fot-logo{
    height: 25px; width: 50px;
}
.flogo h2{
    color: white;
    margin-left: 20px;
    
}
.ftxt ul{
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    list-style-type: none;
    position:  top 180px;
}
.ftxt li{
    padding: 0px 40px 0px 0px;
    position: relative; top: 170px;
    
}
.icn img{
    height: 40px; width: 40px;
    padding: 0px 5px 0px 5px
}
.icn{
    display: flex;
    justify-content: center;
    position: relative; top: 200px;
}

.copy{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Work Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.copy p{
    padding: 0px 40px 0px 0px;
    position: relative; top: 230px;
}
.cotyright{
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Work Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-align: center;
    position: relative; top: 250px;
}
